/* preloader */
.no-scroll-preload {
    overflow: hidden;
    height: auto;
}

:root {
    --atom-size: 250px;
    --atom-color-hex: #bb86fc;
    --atom-color-rgb: 187,134,252;
    --nucleus-size: 120px;
    --electron-color-hex: #bb86fc;
    --electron-size : 36px;
    --electron-orbit-size : 180px;
    --electron-speed : 2s;
    --electron-speed-alpha : 2.5s;
    --electron-speed-omega : 1.5s;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #202124;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  color: white;
}

/* Atom */
.atom {
  position: relative;
  justify-content: center;
  align-items: center;
  width: var(--atom-size);
  height: var(--atom-size);
}

/* Nucleus */
.atom::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--nucleus-size);
    height: var(--nucleus-size);
    margin-top: calc(var(--nucleus-size) / -2);
    margin-left: calc(var(--nucleus-size) / -2);
    background: url('../images/home/Website_Profile_Picture.png') center/cover no-repeat;
    border-radius: 100%;
    box-shadow: 0 0 20px 5px rgba(187, 134, 252, 0.6);
}

/* Electron Orbit */
.atom > [class^="electron"] {
    border: solid rgba(var(--atom-color-rgb), 0.15) 2px;
    border-radius: 100%;
    width: var(--electron-orbit-size);
    height: var(--electron-orbit-size);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(var(--electron-orbit-size) / -2);
    margin-left: calc(var(--electron-orbit-size) / -2);
    animation: var(--electron-speed) electron-orbit infinite linear;
}
.atom > .electron-alpha {
    transform: rotate(45deg);
    animation: var(--electron-speed-alpha) electron-orbit-alpha infinite linear;
}
.atom > .electron-omega {
    transform: rotate(-45deg);
    animation: var(--electron-speed-omega) electron-orbit-omega infinite linear;
}
@keyframes electron-orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes electron-orbit-alpha {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
@keyframes electron-orbit-omega {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(315deg);
    }
}

/* Electron Unit */
.atom [class^="electron"]::after {
    content: '';
    display: block;
    width: var(--electron-size);
    height: var(--electron-size);
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: calc(var(--electron-size) / -2);
    margin-top: calc(var(--electron-size) / -2);
    background: url('../images/home/Merp.png') center/contain no-repeat;
}

.atom .electron::after {
    filter: hue-rotate(0deg);
}
.atom .electron-alpha::after {
    filter: hue-rotate(30deg);
  }
.atom .electron-omega::after {
    filter: hue-rotate(-30deg);
  }

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.disappear {
  animation: vanish 1s forwards;
}

@keyframes vanish {
  100% {
    opacity: 1;
    visibility: hidden;
  }
}
